<body>
<app-nav></app-nav>
<div id='hero1' class='hero ani-1'>
  <div class='layer-0 scene1 parallax' data-depth='0.1'></div>
  <div class='layer-1 scene1 parallax' data-depth='0.2'></div>
  <div class='layer-2 scene1 parallax' data-depth='0.33'></div>
  <div class='layer-3 scene1 parallax' data-depth='0.33'></div>
  <div class='layer-4 scene1 parallax' data-depth='0.8'></div>
  <div class='layer-5 scene1 parallax' data-depth='0.4'></div>
  <div class='layer-6 scene1 parallax' data-depth='1'></div>
  <h1 class='imgTitle t2'>Scroll<br/>Down</h1>
</div>
<div class='wrapper'>
  <div class='pic'>
    <img src='assets/images/street.jpg'/>
  </div>
  <div class='text'>
    <p>As the figure shows above, it is a computer graphics which I draw for the Animation Scene Design course.
      It is really a course that improves my computer graphics skills, and become more creative, also acquires diffrent painting skills by keen observation on this course.
      The following are some other Scene Design projects.</p><br/>
    <p>上面是在大學一門場景設計課程，用電繪的方式設計的2D場景，透過這堂課的學習，不但提升了我的電繪能力，也培養出更敏稅的觀察力，學到了許多繪畫技巧。以下是我其他的電繪作品。</p>
  </div>
</div>
<div class='bgs'>
  <!-- <div class='delayed-section' *ngFor="let bg of bgs; let i = index;"><img id={{bg.layer}} src={{bg.url}}/></div> -->
  <div class='delayed-section' id='bglayer-0'><img src='assets/images/train0.png'/></div>
  <div class='delayed-section' id='bglayer-1'><img src='assets/images/train1.png'/></div>
  <div class='delayed-section' id='bglayer-2'><img src='assets/images/train2.png'/></div>
  <div class='delayed-section' id='bglayer-3'><img src='assets/images/train3.png'/></div>
</div>
<div class='text'>
  <p>Another draw course is sketch class, it is my first class in the university and the professor taught us a lot, that helps me laid the groundwork for get the right porportion of drawing people and animals,
  and makes my draw become more realistic and meticulous, and these are my sketch art below.</p><br/>
  <p>另一門是素描課，也是我大學的第一堂入門課程，從這門課學到許多，過程中老師也幫我奠定了手繪的基礎，在畫人像或動物的方面能把比例抓得更精準，讓我的素描能更細膩也更真實，下方就是我的一些素描作品。</p>
</div>
<!-- <div class='sketch-modal'>
  <div class='sketch' *ngFor="let pic of pics" [ngStyle]="{'background-image': 'url(' + pic.url + ')'}"></div>
</div> -->
<ngp-lightbox></ngp-lightbox>
<div class='col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 text-center d-inline-flex mb-5'>
  <a2p-gallery [galleryId]="galleryId">
    <ngp-gallery-item [image]="img" *ngFor="let img of imgs; let i = index"></ngp-gallery-item>
  </a2p-gallery>
</div>
</body>
