@import '../dist/theme';
//colors
$color_silver_chalice_approx: darkgray;

// $sizeList: 5vw, 10vw, 15vw, 20vw, 30vw;
// $sizeListFor580px: 15vw, 27vw, 40vw;
$sizeListForAll: (
  size1: (mid:(mw:12vw, mh:12vh), lg:(lw:10vw, lh:10vh)),
  size2: (mid:(mw:18vw, mh:18vh), lg:(lw:14vw, lh:14vh)),
  size3: (mid:(mw:34vw, mh:34vh), lg:(lw:14vw, lh:26vh)),
  size4: (mid:(mw:75vw, mh:75vh), lg:(lw:40vw, lh:40vh)), //center pic
  size5: (mid:(mw:15vw, mh:15vh), lg:(lw:10vw, lh:10vh)),
  size6: (mid:(mw:38vw, mh:38vh), lg:(lw:23vw, lh:23vh)),
  size7: (mid:(mw:15vw, mh:15vh), lg:(lw:15vw, lh:20vh)),
  size8: (mid:(mw:20vw, mh:20vh), lg:(lw:15vw, lh:15vh)),
  size9: (mid:(mw:26vw, mh:26vh), lg:(lw:22vw, lh:22vh))
);
$topLeft: (
  type1: (tlt: 47.5vw, tll: 2vw),
  type2: (tlt: 60vw, tll: 15vw),
  type3: (tlt: 31vw, tll: -2vw),
  type4: (tlt: 17.5vw, tll: 15vw), //center pic
  type5: (tlt: 5vw, tll: 33vw),
  type6: (tlt: 60vw, tll: 32vw),
  type7: (tlt: 17.5vw, tll: 58vw),
  type8: (tlt: 0vw, tll: 15vw),
  type9: (tlt: 35vw, tll: 58vw)
);
$topLeftFor580px: (
  type1: (tlt: 115vw, tll: 68.5vw),
  type2: (tlt: 109vw, tll: 48vw),
  type3: (tlt: 109vw, tll: 11.5vw),
  type4: (tlt: 31vw, tll: 11.5vw),
  type5: (tlt: 145vw, tll: 29vw),
  type6: (tlt: 131vw, tll: 48vw),
  type7: (tlt: 171.5vw, tll: 48vw),
  type8: (tlt: 172vw, tll: 66vw),
  type9: (tlt: 163vw, tll: 19vw)
);

@function index-to-key($get-which-map ,$index) {
  $keys: map-keys($get-which-map); // A list of all keys in a map
  @return nth($keys, $index);
}

$total: 9;

* {
  //this will effect bootstrap wheither align well
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
  z-index: 8;
}
.introSec{
  .intro{
    width: 100vw;
    @include flexbox;
    @include justify-content(center);
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-family: $font-prim;
    color: $color-prim;
    position: absolute;
    z-index: 3;
    top: 20vh;
    .arrow{
      top: 40vh;
      position: absolute;
      z-index: 3;
    }
  }
}
.gridBlock {
	opacity: 0;
	background-size: cover;
	background-color: $color_silver_chalice_approx;
	display: block;
  position: absolute;
}
.grid-container {
  width: 100vw;
	height: 100vh;
	position: absolute;
}
.grid {
  // top: 0;
	// left: 0;
	z-index: 1;
	width: 70vw;
	height: 80vw;
	margin: 0 calc(100vw / 20 * 3);
	position: absolute;
}

.gridLayer {
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  will-change: transform;
  transform-origin: 50% 50%;
  cursor: crosshair;
  display: block;
  bottom: 83vh;
  .nav-head{
    opacity:0;
    position: absolute;
    z-index: 1;
    content:"";
    transform: translateZ(0);
    background:transparent;
    display: none;
    font-size: 30px;
    font-family: $font-forth;
    color: $color-hover-third;
  }
  &:hover {
    .nav-head {
      display:block;
      z-index: 10;
      overflow:hidden;
      opacity: 1;
    }
  }
  @for $i from 1 through $total {
    @if $i == 5 {
      .gridBlock:nth-child(#{$i}){
        a {
          height: 100%;
          @include flexbox;
          @include align-items(center);
          @include justify-content(center);
        }
        svg {
          width: 1.75vw;
        }
      }
    }
    @if $i == 6 {
      .gridBlock:nth-child(#{$i}){
        margin-bottom: 15vh;
      }
    }
    .gridBlock:nth-child(#{$i}) {
      // $size: nth($sizeList, random(length($sizeList)));
      $size: map-get(map-get($sizeListForAll, index-to-key($sizeListForAll, $i)), lg);
      top: map-get(map-get($topLeft, index-to-key($topLeft, $i)), tlt);
      left: map-get(map-get($topLeft, index-to-key($topLeft, $i)), tll);
      width:  map-get($size,lw);
      height: map-get($size,lw);
    }
  }
}


//Gallery
.modal-overlay {
  background: rgba(51,51,68,0.4);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0;
  visibility:hidden;
  z-index: 7;
}
.modal {
  background:$color-white;
  text-align:center;
  width:80vw;
  height:95vh;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: none;
  margin:auto;
  padding:20px;
  z-index: 4;
  &.active{
    display: contents;
  }
  // @include filter(url("#blur"));
  @include transform(translate3d(0,-900%,0));
  .fa-angle-left, .fa-angle-right, .fa-times {
    color: $color-white;
    margin: 0 3vw;
  }
  .imgs{
    z-index: 5;
    .img{
      height: 75vh;
      margin-top: 40px;
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
  .thumbs{
    .thumbnail {
      height: 10vh;
      display: inline-flex;
      margin: 1.5vw;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      @include transition( all 0.3s cubic-bezier(.25,.8,.25,1));
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      &.active {
        border-radius: 3px;
        border: 2px solid $color-white;
      }
    }
  }
}
.close-modal {
  background:none;
  border:none;
  position:absolute;
  font-size:20px;
  right:10px;
  top:10px;
  color:$color-prim;
  outline:none;
  z-index: 7;
}
.left, .thumbs, .right {
  z-index: 5;
  cursor: pointer;
}

@media only screen and(max-width: 580px) {
  .introSec .intro{
    font-size: 45px;
    margin: unset;
    .arrow{
      margin: unset;
      top: 282px;
    }
  }
	.grid {
		margin: 0;
		width: 90vw;
    height: 120vh;
  }
  @for $i from 1 through $total {
    .gridLayer{
      margin: unset;
      // @if $i == 7 or $i == 8 {
      //   &:nth-child(#{$i}) .gridBlock {
      //     // display: none;
      //   }
      // }
      // @else {
        .gridBlock:nth-child(#{$i}) {
          // $size: nth($sizeListFor580px, random(length($sizeListFor580px)));
          $size: map-get(map-get($sizeListForAll, index-to-key($sizeListForAll, $i)), mid);
          top: map-get(map-get($topLeftFor580px, index-to-key($topLeftFor580px, $i)), tlt);
          left: map-get(map-get($topLeftFor580px, index-to-key($topLeftFor580px, $i)), tll);;
          width: map-get($size,mw);
          height: map-get($size,mw);
        }
      // }
    }
  }

  //gallery
  .modal.active {
    height:100vh;
    .mobile-absolute{
      position: fixed;
      .left{
        @extend .mobile-absolute;
        left: 5px;
      }
      .thumbs{
        @extend .mobile-absolute;
        width: 100vw;
        max-width: 200vw;
        max-height: 25vh;
        bottom: 5px;
      }
      .right{
        @extend .mobile-absolute;
        right: 5px;
      }
    }
    .imgs {
      height:85vh;
      width: 70vw;
      .img.active {
        width: unset;
        height: 100vh;
        margin: 0 calc(-500px / 20 * 3);
      }
    }
  }
}

