<app-nav></app-nav>
<div class="introSec">
  <div class="intro">
    <p>Scroll down <br/>and choose a photo<br/>to view more.</p>
    <div class='arrow'><i class="fad fa-angle-double-down"></i></div>
  </div>
</div>
<div class='canvas'></div>
<div class="openCanvas">
  <div class="gallary">
    <!-- <div class="pics">Message</div> -->
  </div>
</div>
<div class="grid-container">
  <div class="grid">
    <div class="gridLayer">
      <div class="gridBlock" id='0'><span class='nav-head' id='spot1'>Hehuan Mountain</span></div>
      <div class="gridBlock" id='1'><span class='nav-head' id='spot2'>Quingjing Farm</span></div>
      <div class="gridBlock" id='2'><span class='nav-head' id='spot3'>Macao</span></div>
      <div class="gridBlock centerPiece" id='3'><span class='nav-head' id='spot4'>Taipei</span></div>
      <div class="gridBlock" id='4'><span class='nav-head' id='spot5'>Korea</span></div>
      <div class="gridBlock" id='5'><span class='nav-head' id='spot6'>Kaosiung</span></div>
      <div class="gridBlock" id='6'><span class='nav-head' id='spot7'>Taichung</span></div>
      <div class="gridBlock" id='7'><span class='nav-head' id='spot8'>Taoyuan</span></div>
      <div class="gridBlock" id='8'><span class='nav-head' id='spot9'>New Taipei City</span></div>
    </div>
  </div>
</div>


