<body>
  <app-nav></app-nav>
  <h1>Responsive Websites Project</h1>
  <div class='link'>
    <h1>喬昱科技</h1>
    <p>
      The core business is system development and integration of financial institutions,
      portal and related application system construction,
      network security planning, J2EE .net project planning and professional human services, etc.
    </p>
    <span class='btn' type='button' url='http://www.evtek.com.tw/index.html'>take a look</span>
  </div>
  <div class='link'>
    <h1>get Fit get Lit</h1>
    <p>
      This website is create to make people who want's to get in shape or diet,
      they can get some lost weight's info or build muscle's info.
      Moreover, they can help you calculate your BMI & BMR to let you know more about your body,
      to makes you get lit easier.
    </p>
    <span class='btn' type='button' url='http://www.evtek.com.tw/index.html'>take a look</span>
  </div>
</body>
