<app-nav></app-nav>
<h1 class="text-center h1">My Timeline</h1>
<svg id="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 500 1200">
  <path class="line01 line" d="M 10 160  300 160"></path>
  <path class="line02 line" d="M 10 300  300 300"></path>
  <path class="line03 line" d="M 10 440  300 440"></path>
  <path class="line04 line" d="M 10 550  300 550"></path>
  <path class="line05 line" d="M 10 700  300 700"></path>
  <path class="line06 line" d="M 10 870  300 870"></path>
  <path class="line06 line" d="M 10 1000  300 1000"></path>
  <text class="text01 text" x="30" y="150">2018.6.10</text>
  <text class="de01 detail" x="180" y="135">I graduated from Ming Chuan University with a major in Digital Media Design.</text>
  <text class="dc01 detail" x="190" y="150">畢業於銘傳大學數位媒體設計學系</text>
  <text class="text02 text" x="30" y="290">2018.6.20</text>
  <text class="de02 detail" x="245" y="245">I started to learn Full Stack development and Java programming </text>
  <text class="de02 detail" x="247" y="260">in Institute for Information Industry.</text>
  <text class="dc02 detail" x="250" y="275">到資策會進修「JAVA 跨平台程式設計就業養成班」</text>
  <text class="dc02 detail" x="252" y="290">學習撰寫程式及資料庫建構，培養全端開發技能</text>
  <text class="text03 text" x="30" y="430">2018.11.22</text>
  <text class="de03 detail" x="240" y="400">I graduated from Institute for Information Industry after training</text>
  <text class="de03 detail" x="230" y="415">for 636 hours and multiple group projects presentation.</text>
  <text class="dc03 detail" x="220" y="430">歷經636小時的培訓和多次分組成果發表後，從資策會結業</text>
  <text class="text04 text" x="30" y="540">2018.12.17</text>
  <text class="de04 detail" x="150" y="525">I worked for the TransGlobe Life Insurance Inc. as an programmer.</text>
  <text class="dc04 detail" x="135" y="540">進入全球人壽擔任內部核心系統程式分析師</text>
  <text class="text05 text" x="30" y="690">2019</text>
  <text class="text06 text" x="30" y="860">2020.04.01</text>
  <text class="de06 detail" x="250" y="800">I resign from the company and start to learning different kinds of</text>
  <text class="de06 detail" x="245" y="815">programming languages and softwares, such as Angular, Python, </text>
  <text class="de06 detail" x="235" y="830">TypeScript, SASS, SparkAr (for making Instagram filter) etc.</text>
  <text class="dc06 detail" x="220" y="845">向公司提出辭呈，給自己充裕的時間學習各種程式語言</text>
  <text class="dc06 detail" x="205" y="860">自學 Angular、Python、TypeScript、SASS、SparkAr (製作IG濾鏡) 等等</text>
  <text class="text07 text" x="30" y="990">2021</text>

  <path class="theLine"
        d="M -5,0
           Q 350 250 160 470
           T 180 750
           Q 280 780 180 850
           T 135 1050"/>

  <circle class="ball ball01" r="10" cx="25" cy="23"></circle>
  <circle class="ball ball02" r="10" cx="190" cy="183"></circle>
  <circle class="ball ball03" r="10" cx="245" cy="320"></circle>
  <circle class="ball ball04" r="10" cx="203" cy="460"></circle>
  <circle class="ball ball05" r="10" cx="120" cy="570"></circle>
  <circle class="ball ball06" r="10" cx="110" cy="720"></circle>
  <circle class="ball ball07" r="10" cx="175" cy="890"></circle>
  <circle class="ball ball08" r="10" cx="140" cy="1020"></circle>

</svg>
<script src="../../js/DrawSVGPlugin.min.js"></script>
