<app-nav></app-nav>
<h1 class="text-center h1">My Timeline</h1>
<svg class='showOnComp' id="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 500 1200">
  <path class="line1 line" d="M 10 160  300 160"></path>
  <path class="line2 line" d="M 10 300  300 300"></path>
  <path class="line3 line" d="M 10 440  300 440"></path>
  <path class="line4 line" d="M 10 550  300 550"></path>
  <path class="line5 line" d="M 10 700  300 700"></path>
  <path class="line6 line" d="M 10 870  300 870"></path>
  <path class="line6 line" d="M 10 1000  300 1000"></path>
  <text class="text1 text" x="30" y="150">2018.6.10</text>
  <text class="de1 detail" x="180" y="135">I graduated from Ming Chuan University with a major in Digital Media Design.</text>
  <text class="dc1 detail" x="190" y="150">畢業於銘傳大學數位媒體設計學系</text>
  <text class="text2 text" x="30" y="290">2018.6.20</text>
  <text class="de2 detail" x="245" y="245">I started to learn Full Stack development and Java programming </text>
  <text class="de2 detail" x="247" y="260">in Institute for Information Industry.</text>
  <text class="dc2 detail" x="250" y="275">到資策會進修「JAVA 跨平台程式設計就業養成班」</text>
  <text class="dc2 detail" x="252" y="290">學習撰寫程式及資料庫建構，培養全端開發技能</text>
  <text class="text3 text" x="30" y="430">2018.11.22</text>
  <text class="de3 detail" x="240" y="400">I graduated from Institute for Information Industry after training</text>
  <text class="de3 detail" x="230" y="415">for 636 hours and multiple group projects presentation.</text>
  <text class="dc3 detail" x="220" y="430">歷經636小時的培訓和多次分組成果發表後，從資策會結業</text>
  <text class="text4 text" x="30" y="540">2018.12.17</text>
  <text class="de4 detail" x="150" y="525">I worked for the TransGlobe Life Insurance Inc. as an programmer.</text>
  <text class="dc4 detail" x="135" y="540">進入全球人壽擔任內部核心系統程式分析師</text>
  <text class="text5 text" x="30" y="690">2019</text>
  <text class="text6 text" x="30" y="860">2020.04.01</text>
  <text class="de6 detail" x="250" y="800">I resign from the company and start to learning different kinds of</text>
  <text class="de6 detail" x="245" y="815">programming languages and softwares, such as Angular, Git, </text>
  <text class="de6 detail" x="235" y="830">TypeScript, SASS, SparkAr (for making Instagram filter) etc.</text>
  <text class="dc6 detail" x="220" y="845">向公司提出辭呈，給自己充裕的時間學習各種程式語言</text>
  <text class="dc6 detail" x="205" y="860">自學 Angular、Git、TypeScript、SASS、SparkAr (製作IG濾鏡) 等等</text>
  <text class="text7 text" x="30" y="990">2021</text>

  <path class="theLine"
        d="M -5,0
           Q 350 250 160 470
           T 180 750
           Q 280 780 180 850
           T 135 1050"/>

  <circle class="ball ball1" r="10" cx="25" cy="23"></circle>
  <circle class="ball ball2" r="10" cx="190" cy="183"></circle>
  <circle class="ball ball3" r="10" cx="245" cy="320"></circle>
  <circle class="ball ball4" r="10" cx="203" cy="460"></circle>
  <circle class="ball ball5" r="10" cx="120" cy="570"></circle>
  <circle class="ball ball6" r="10" cx="110" cy="720"></circle>
  <circle class="ball ball7" r="10" cx="173" cy="893"></circle>
  <circle class="ball ball8" r="10" cx="140" cy="1020"></circle>

</svg>
<svg class='showOnPhone' id="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 500 1250">
  <path class="line1 line" d="M 15 160  350 160"></path>
  <path class="line2 line" d="M 15 370  350 370"></path>
  <path class="line3 line" d="M 15 550  350 550"></path>
  <path class="line4 line" d="M 15 700  350 700"></path>
  <path class="line5 line" d="M 15 1037  350 1037"></path>
  <path class="line6 line" d="M 15 1100  350 1100"></path>
  <text class="text1 text" x="360" y="160">2018.6.10</text>
  <text class="de1 detail" x="130" y="75">I graduated from Ming Chuan University</text>
  <text class="de1 detail" x="150" y="100">with a major in Digital Media Design.</text>
  <text class="dc1 detail" x="170" y="125">畢業於銘傳大學數位媒體設計學系</text>
  <text class="text2 text" x="360" y="371">2018.6.20</text>
  <text class="de2 detail" x="195" y="220">I started to learn Full Stack development</text>
  <text class="de2 detail" x="190" y="243">and Java programming in Institute</text>
  <text class="de2 detail" x="185" y="265">for Information Industry.</text>
  <text class="dc2 detail" x="170" y="292">到資策會進修</text>
  <text class="dc2 detail" x="145" y="315">「JAVA 跨平台程式設計就業養成班」</text>
  <text class="dc2 detail" x="125" y="335">學習撰寫程式及資料庫建構</text>
  <text class="dc2 detail" x="100" y="357">培養全端開發技能</text>
  <text class="text3 text" x="360" y="550">2018.11.22</text>
  <text class="de3 detail" x="120" y="445">I graduated from Institute for Information Industry</text>
  <text class="de3 detail" x="128" y="467">after training for 636 hours</text>
  <text class="de3 detail" x="143" y="492">and multiple group projects presentation.</text>
  <text class="dc3 detail" x="153" y="517">歷經636小時的培訓和多次分組</text>
  <text class="dc3 detail" x="155" y="540">成果發表後從資策會結業</text>
  <text class="text4 text" x="360" y="700">2018.12.17</text>
  <text class="de4 detail" x="167" y="625">I worked for the TransGlobe Life Insurance Inc.</text>
  <text class="de4 detail" x="165" y="643">as an programmer.</text>
  <text class="dc4 detail" x="167" y="665">進入全球人壽擔任內部核心系統</text>
  <text class="dc4 detail" x="155" y="687">程式分析師</text>
  <text class="text5 text" x="360" y="1039">2020.04.01</text>
  <text class="de5 detail" x="135" y="829">I resign from the company</text>
  <text class="de5 detail" x="128" y="854">and start to learning different kinds of</text>
  <text class="de5 detail" x="123" y="875">programming languages and softwares</text>
  <text class="de5 detail" x="120" y="900">such as Angular, Git, TypeScript, SASS,</text>
  <text class="de5 detail" x="120" y="925">SparkAr (for making Instagram filter) etc.</text>
  <text class="dc5 detail" x="114" y="950">向公司提出辭呈</text>
  <text class="dc5 detail" x="127" y="973">給自己充裕的時間學習各種程式語言</text>
  <text class="dc5 detail" x="132" y="997">自學 Angular、Git、TypeScript、SASS、</text>
  <text class="dc5 detail" x="143" y="1022">SparkAr (製作IG濾鏡) 等等</text>
  <text class="text6 text" x="360" y="1100">2021</text>

  <path class="theLine"
        d="M -5,0
           Q 200 200 100 280
           T 40 430
           Q 120 550 115 630
           T 70 820
           Q 10 1040 230 1150"/>

  <circle class="ball ball1" r="15" cx="10" cy="65"></circle>
  <circle class="ball ball2" r="15" cx="150" cy="188"></circle>
  <circle class="ball ball3" r="15" cx="65" cy="395"></circle>
  <circle class="ball ball4" r="15" cx="130" cy="580"></circle>
  <circle class="ball ball5" r="15" cx="135" cy="728"></circle>
  <circle class="ball ball6" r="15" cx="120" cy="1060"></circle>
  <circle class="ball ball7" r="15" cx="177" cy="1125"></circle>

</svg>
