<body>
  <app-nav></app-nav>
  <div class='wrap'>
    <div class="honeycombs">
      <div class="honeycombs-inner-wrapper">
        <div class="comb" *ngFor="let hex of hexs; let i = index;">
          <div class="inner back">
            <div class="wrapper">
              <div class="animated" (click)="openModal(i+1)">
                <div class="text">{{hex.eng}}<br/>{{hex.ch}}</div>
              </div>
              <a class="gallery" (click)="openModal(i+1)">
                <div class='cover' [style.background-image]="'url(' + hex.cover + ')'"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='title'>Mockup<br />Project</div>
  </div>
  <div class="modal-overlay">
    <div class='modal' id='modal_{{i}}' *ngFor="let hex of hexs; let i = index;">
      <button class="close-modal" (click)="closeModal(i)"><i class="fas fa-times"></i></button>
      <div class='d-flex justify-content-between align-items-center'>
        <div class='left'><i class="fas fa-angle-left fa-5x" (click)="prev(i)"></i></div>
        <div>
          <div class='imgs'>
            <ng-container *ngFor="let aImg of hex.img; let ii = index;">
              <img class='img active' id='img_{{i}}_{{ii}}' src={{aImg}} *ngIf="ii==0; else notFstImg" />
              <ng-template #notFstImg>
                <img class='img' id='img_{{i}}_{{ii}}' src={{aImg}} />
              </ng-template>
            </ng-container>
          </div>
          <div class='thumbs'>
            <ng-container *ngFor="let aThumb of hex.img; let iii = index;">
              <img class='thumbnail active' id='thumb_{{i}}_{{iii}}' src={{aThumb}} *ngIf="iii==0; else notFstThumb" (click)="thumbOnClick(i,iii)"/>
              <ng-template #notFstThumb>
                <img class='thumbnail' id='thumb_{{i}}_{{iii}}' src={{aThumb}} (click)="thumbOnClick(i,iii)"/>
              </ng-template>
            </ng-container>
          </div>
        </div>
        <div class='right'><i class="fas fa-angle-right fa-5x" (click)="next(i)"></i></div>
      </div>
    </div>
  </div>
</body>
